:root {
    --main-bg-clr: #203142;
    --additional-bg-clr: #15202b;
    --text-clr: #EDF1F2;
    --accent-clr: #FC6621;
    --main-clr: #42B4E7;

    --white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #da2c4d;
	--yellow: #f8ab37;
	--grey: #ecedf3;
}

html {
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: var(--text-clr);
    background: var(--main-bg-clr);
}

a {
    text-decoration: none;
    color: var(--text-clr);
}

.wrapper {
    background-color: var(--additional-bg-clr);
    display: block;
    margin: 3% 10% 10%;
    -webkit-box-shadow: 0px 9px 17px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 17px 9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 17px 9px rgba(0, 0, 0, 0.75);

}

.error {
    display: flex;
    justify-content: center;
    color: yellow
}

.error_light_bg {
    display: flex;
    justify-content: center;
    color: #cc1818;
}


/* Main hover buttons*/

.sign_in__btn,
.subscribe_button,
.focus_btn,
.accent_btn {
    border: 2px solid var(--accent-clr);
    border-radius: 30px;
    padding: 6px;
}

.sign_in__btn:hover,
.subscribe_button:hover,
.focus_btn:hover,
.accent_btn:hover {
    background: var(--accent-clr);
}


/* Header */

header {
    -webkit-box-shadow: 0px 5px 11px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 11px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 11px 4px rgba(0, 0, 0, 0.75);
    background-color: var(--additional-bg-clr);
    text-transform: uppercase;
}

.full_logo,
.right_block,
.language,
.small_profile,
.log_in__btn,
.sign_in__btn {
    display: inline-block;
}

.language {
    font-size: 12pt;
    padding-right: 30px;
    margin: auto;
}

.toolbar {
    padding: 30px;
}

.right_block {
    padding-top: 30px;
    float: right;
}

.log_in__btn:hover,
.language>a:hover {
    color: var(--accent-clr);
}

.log_in__btn>a,
.language>a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-clr);
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 15px;
}

.log_in__btn>a:after,
.language>a:after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--accent-clr);
    width: 0;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.log_in__btn>a:hover,
.language>a:hover {
    color: var(--accent-clr);
}

.log_in__btn>a:hover:after,
.language>a:hover:after {
    width: 100%;
}

.small_profile>span {
    text-transform: lowercase;
    font-size: 14pt;
    padding-right: 10px;
}


/* Default center block */

.home_block {
    padding: 30px;
}

.page_title {
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    color: var(--accent-clr)
}


/* Subscription */

.subscription_block {
    width: 100%;
    margin: 0 auto;
    font-size: 0;
}

.subscription_card {
	font-size: 16pt;
	display: inline-block;
	vertical-align: top;
    text-align: center;
    margin: 10px;
    margin-left: 30px;
    width: 350px;
    height: 400px;
    border: 2px solid var(--accent-clr);
    border-radius: 30px;
    -webkit-box-shadow: 0px 5px 11px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 11px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 11px 4px rgba(0, 0, 0, 0.75);
    background-color: #1c2b3b;
}

.subscription_title {
    text-transform: uppercase;
}

.subscription_desc {
    padding: 10px;
}

.subscription_cost {
    color: gold;
}

.subscribe_button {
    margin: 0 auto;
    height: 30px;
    width: 90%;
    vertical-align: bottom;
}

.about_us:before {
    content: " ";
    display: block;
    background: var(--main-clr);
    height: 3px;
    width: 100%;
    margin: 50px 0 50px 0;
}


/* Enter form */

.enter_form_header {
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-clr);
    padding-top: 1em;
}

.enter__form {
    display: block;
    margin: 0 auto;
    width: 40%;
    padding-bottom: 2em;
}

.enter_form_text {
    padding-top: 1em;
}

.enter_field {
    float: right;
    width: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--text-clr);
    box-sizing: border-box;
    color: var(--text-clr);
    font-size: 14pt;

}

.enter_field:focus {
    outline: none;
}

.focus_btn,
.unfocus_btn {
    margin: 1em 0 1em 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.focus_btn {
    background: var(--accent-clr);
    font-family: 'Ubuntu', sans-serif;
    font-size: 16pt;
    position: relative;
    color: var(--text-clr);
}

.focus_btn:hover {
    border-color: var(--main-clr);
}

.unfocus_btn {
    color: var(--text-clr);
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    border: 3px solid var(--accent-clr);
    border-radius: 30px;
}

.unfocus_btn:hover {
    background: var(--accent-clr);
    border: 3px solid var(--accent-clr);
}

/* Search worker*/

#worker_search__form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    margin-top: 2em;
}

#worker_search__form>input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    ;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

#worker_search__form:hover {
    width: 500px;
    cursor: pointer;
}

#worker_search__form:hover input {
    display: block;
}

#worker_search__form:hover .fa {
    background: #07051a;
    color: white;
}


/* Profile */

.small_profile_info,
.logout {
    display: inline-block;
}

.logout:hover .fas,
.small_profile_info:hover {
    color: var(--accent-clr);
}

.profile_block {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 3em;
    padding-top: 0.5em;
}

.profile_information_header:after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: var(--main-clr);
}

.info_field>div {
    padding-top: 0.2em;
    display: inline-block;
}

.info_field>div:last-child {
    padding-left: 1em;
}

.accent_btn {
    text-align: center;
    text-transform: uppercase;
}

.company_info {
    padding-top: 1em;
}


/* Company add - slider */

.slider {
    position: relative;
    overflow: hidden;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item>div {
    text-align: center;
}

/* Radio add company */

::selection {
	color: var(--white);
	background-color: var(--black);
}
::-moz-selection {
	color: var(--white);
	background-color: var(--black);
}
mark{
	color: var(--white);
	background-color: var(--black);
}
.section {
    position: relative;
	width: 100%;
	display: block;
	text-align: center;
	margin: 0 auto;
}
.over-hide {
    overflow: hidden;
}
.z-bigger {
    z-index: 100 !important;
}

.background-color{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--dark-blue);
	z-index: 1;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox:checked ~ .background-color{
	background-color: var(--white);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
	position: relative;
	width: 70px;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin: 17px 0;
	margin-top: 100px;
	height: 6px;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	z-index: 100 !important;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
	position: absolute;
	font-family: 'unicons';
	cursor: pointer;
	top: -17px;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox:not(:checked) + label:before {
	content: '\eac1';
	left: 0;
	color: var(--grey);
	background-color: var(--dark-light);
	box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(26,53,71,0.07);
}
.checkbox:checked + label:before {
	content: '\eb8f';
	left: 30px;
	color: var(--yellow);
	background-color: var(--accent-clr);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

.checkbox:checked ~ .section .container .row .col-12 p{
	color: var(--dark-blue);
}

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 20px;
	width: 400px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 30px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase;
	color: var(--white);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-tools:not(:checked) + label{
	background-color: var(--dark-light);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:checked + label{
	background-color: var(--main-clr);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: var(--accent-clr);
	z-index: -1;
}


/* Workers search */

.workers_search_result {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 3em;
    padding-top: 0.5em;
}

.workers_search_table {
    display: flex;
    justify-content: center;
}

.workers_search_table {
  border-spacing: 0;
}

td {
	padding: 0 10px 0 10px;
}

td:first-child {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

td:last-child {
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}


/* Graph */

.worker_graph, .company_graph {
	padding-top: 1em;
}

.company_graph {
	padding: 3em;
}


/* Admin panel */

.admin__form {
    display: inline-block;
    margin: 0 auto;
    width: 35%;
    padding-bottom: 2em;
    padding-left: 5.5em;
}

.form_title {
	text-align: center;
	color: var(--main-clr);
}

.form_title:after {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: var(--main-clr);
}
